/* Remove scrolling */
html, body {
  margin-top: 100px;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('./Components/Assets/background.jpg')
  no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapLog{
  font-family: "Poppins", sans-serif;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('./Components/Assets/background.jpg')
  no-repeat;
  background-size: cover;
  background-position: center;
}